
    .uperNav{
        background: #090909;
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        color: white;
        padding: 0.5rem;
      }
      
      .Main{
          width: 100%;;
      }
      .mainContest h1{
          color: white;
          font-size: 1.8rem;
          
      }
      .mainContest{
          padding: 1rem 2rem;
          
      }
     .card{
         background:grey;
         border-radius: 8px;
         width: 150px;
         overflow: hidden;
         padding: 1.3rem;
     }
     .cardImage{
         height: 110px;
         
     }
     img{
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
     .cardContest{
         color: white;

         
     }
     .cardContest h1{
         font-size: 0.8rem;
     }