
.navbar{
    width: 220px;
    height: calc(100%-10px);
    background: #040404;
    flex-direction: column;
}
ul {
    margin:2px;
    padding:1px;
    margin-left: 8px;
    margin-right: 8px;
    
}
li{
      color:grey;  
      list-style-type: none;
      border-radius: 5px;
      padding:0.8rem;
      cursor: pointer;
}
li.active{
    background: #a2a6a4;
}
li:hover{
    color: white;;
   
}
.cokkies{
    color: grey;
    text-align:center;
    padding: 1rem;
    margin-top:350px ;
}
span{
   display :block;

}
.spotifyLogo{
    width: 20vh;
    height: 10vx;
}